.all-product__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  column-gap: 30px;
  max-width: 1350px;
  margin: 0 auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #d8ccb1;
  border-radius: 20px;

  &__price {
    @extend %price;
  }

  &__photo {
    &-box {
      border-radius: 20px;
      width: 293px;
      height: 300px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include hover(transform, scale(1.2));

    &--face {
      background-image: url(/src/images/shop/tablet-1.webp);
      @include onDesktop {
        background-image: url(/src/images/shop/desktop-1.webp);
      }

      &-2 {
        background-image: url(/src/images/shop/tablet-2.webp);

        @include onDesktop {
          background-image: url(/src/images/shop/desktop-2.webp);
        }
      }
    }

    &--body {
      background-image: url(/src/images/shop/forest.webp);

      &-2 {
        background-image: url(/src/images/shop/sleeping.webp);
      }
    }

    &--hair {
      background-image: url(/src/images/shop/hair-1.webp);

      &-2 {
        background-image: url(/src/images/shop/hair-2.webp);
      }
    }

    &--candles {
      background-image: url(/src/images/shop/candles-1.webp);

      &-2 {
        background-image: url(/src/images/shop/candles-2.webp);
      }
    }
  }
}
